<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Iniciar sesión</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
    <style type="text/css">
        .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
        .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
        .tftable tr {background-color:#d4e3e5;}
        .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
        .tftable tr:hover {background-color:#ffffff;}
        #boton{
            float: left;
            margin-left: 20px;
            border: 3px solid;
        }
        .boton2{
            margin-left: 70px;
        }
        .total{
            margin-left:20px;
            color: orange;

        }

        </style>
        
        <table class="tftable" border="1">
        <tr><th>REF</th><th>NOMBRE</th><th>UDS</th><th>P/U</th><th>SUBTOTAL</th></tr>

        <% for (var i=0; i<productos.length; i++){%> 
            <tr>
        <td><%=productos[i].ref %></td>
        <td><%=productos[i].nombre %></td>
        <td><%=productos[i].stock %></td>
        <td><%=productos[i].productocarrito.precio %></td>
        <td><%=productos[i].productocarrito.stock * productos[i].precio %></td>
            </tr>
            <% } %>
        </table>
        <h2 class="total">Total---------------------- </h2>
        <br>
        
         <a href="/" btn class="" id="boton"><b>Seguir comprando</b></a>
          
          <form method="POST" action="/checkout">
          <input type="submit" class="boton2" value="Finalizar compra">
        </form>

        
        
</div>
</body>
</html>                                		                            